/*
універсальний селектор

* {
  color: blueviolet;
  background-color: aqua;
} */

/* селектор тегу */

/* h2 {
  background-color: red;
  color: black;
  text-transform: lowercase;
} */

/* селектор класу */

/* .filter {
  width: 89px;
  height: 19px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: brown;
}




.filter {
  color: black;
} */

/* селектор ID */

/* #nav {
  background-color: red;
} */

/* груповий селектор */

/* h1,
h2,
h3,
a,
img {
  color: blue;
} */

/* селектор нещадка */

/* div p {
  color: red;
} */

/* селектор за атрибутом */

/* button[type='submit'] {
  color: red;
}

button[type='reset'] {
  color: blue;
} */

/* h1 {
  margin-bottom: 100px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
} */

/* div p {
  color: red;
}

#nav {
  background-color: red;
}

.nav {
  background-color: black;
}

.nav {
  background-color: aqua;
}

div p {
  color: red;
} */

button {
  cursor: pointer;
  color: blue;
  background-color: black;
}

/* псевдокласи */
button:hover {
  color: white;
  background-color: aqua;
  text-transform: uppercase;
}

a:hover {
  color: blue;
}

a:focus {
  color: red;
  text-transform: uppercase;
}
a:visited {
  color: red;
}

/* li:first-child {
  border: 1px solid red;
  color: red;
} */

ul:nth-child(3n) {
  color: blue;
}

ul:nth-child(odd) {
  color: red;
}

ul:nth-child(even) {
  color: black;
}

ul:first-child {
  color: red;
}

ul:last-child {
  color: red;
}
