html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/* ---------------------------------- */

.wrapper {
  box-sizing: border-box;

  width: 370px;
  height: 404px;

  background-color: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.text-wrapper {
  position: relative;
  overflow: hidden;
}

.animate {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translateX(100%);
  transition: transform 300ms linear;
}

.text-wrapper:hover .animate {
  transform: translateX(0%);
}

.i {
  font-size: 90px;
  color: aqua;
}

.father {
  width: 1200px;
  position: relative;
}

.t {
  width: 1000px;
  height: 200px;
  background-color: blue;
  position: absolute;
  top: 0;
  left: -1000px;
  /* z-index: 1; */
}

.y {
  width: 800px;
  height: 180px;
  background-color: yellow;

  position: absolute;
  top: 0;
  left: 0;
}

.u {
  width: 600px;
  height: 160px;
}

.i {
  width: 400px;
  height: 140px;
}

.o {
  width: 200px;
  height: 120px;
}

.header {
  position: fixed;
  right: 0px;
  top: 0px;
  background-color: red;
  z-index: 100;
}

.facebook-call {
  position: fixed;

  border-radius: 50%;

  right: 15px;
  bottom: 15px;

  z-index: 2;
}

.one::after {
  content: "";
  display: block;

  width: 78px;
  height: 4px;
  margin-top: 30px;
  background: #2196f3;
  border-radius: 2px;
}

.smart {
  font-size: 70px;
  color: blue;
}

.env {
  font-size: 70px;
  color: yellowgreen;
}
