* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

header {
  min-width: 320px;
  background-color: red;
}

@media (min-width: 767px) {
  header {
    background-color: blue;
    min-width: 768px;
  }
}

@media (max-width: 380px) {
  .img {
    max-width: 380px;
  }
}

vh
vw
vmin
vmax

